body{
    background-image: url('images/123.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: blanchedalmond;
    text-decoration: none;
    font-size: 200%;
    font-family: 'Caveat', sans-serif;
}
a :hover {
  color:chartreuse;
  -webkit-transform: rotateZ(-30deg);
 -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
section {
    background: rgba( 0,0,0,.6);
    border-radius: 5px;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section h2 {
    color: blanchedalmond;
    font-family: 'Caveat', sans-serif;
    font-size: 30px;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
section div {
    position: relative;
}
section div input {
    background: transparent;
    border: none;
    border-bottom: 1px solid blanchedalmond;
    color: blanchedalmond;
    font-family: 'Caveat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding: 10px 0;
    outline: none;
    width: 100%;
  }
  section div label {
    color: blanchedalmond;
    font-size: 22px;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    position:absolute;
    pointer-events: none;
    top: 0;
    transition: .5s;
  }
  section button {
    background: #40516b;
    border: none;
    border-radius: 10px;
    color: blanchedalmond;
    cursor: pointer;
    font-family: 'Caveat', sans-serif;
    font-size: 24px;
    padding: 6px 28px;
    outline: none;
  }
  section button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
  }
section div input:focus ~ label,
section div input:valid ~ label {
  color: blanchedalmond;
  font-size: 22px;
  left: 0;
  top: -22px;
  margin: 0%;
}
section input[type="submit"] {
    background: #40516b;
    border: none;
    border-radius: 10px;
    color: blanchedalmond;
    cursor: pointer;
    font-family: 'Caveat', sans-serif;
    font-size: 24px;
    padding: 6px 28px;
    outline: none;
  }
  